In [1]:
import findspark

In [2]:
findspark.init()

In [3]:
from pyspark.sql import SparkSession
#Initialize Spark Session
spark = SparkSession.builder.appName("TestApp").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/09/25 03:53:13 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
sc=spark.sparkContext

In [43]:
testData = [("James","Sales","NY",90000,34,10000),
    ("Michael","Sales","NY",86000,56,20000),
    ("Robert","Sales","CA",81000,30,23000),
    ("Maria","Finance","CA",90000,24,23000),
    ("Raman","Finance","CA",99000,40,24000),
    ("Scott","Finance","NY",83000,36,19000),
    ("Jen","Finance","NY",79000,53,15000),
    ("Jeff","Marketing","CA",80000,25,18000),
    ("Kumar","Marketing","NY",91000,50,21000)
  ]


udScehma = ["employee_name","department","state","salary","age","bonus"]

testDf = spark.createDataFrame(data=testData,schema = udScehma)

In [34]:
from pyspark import StorageLevel
testDf.persist(StorageLevel.MEMORY_ONLY)

DataFrame[employee_name: string, department: string, state: string, salary: bigint, age: bigint, bonus: bigint]

In [23]:
sc.uiWebUrl

'http://ip-172-31-0-176.ap-south-1.compute.internal:4040'

In [25]:
import sys
print(sys.version)bccb

3.11.4 (main, Jul  5 2023, 14:15:25) [GCC 11.2.0]

In [35]:
from pyspark.sql.functions import *
testDf.count()

9

In [33]:
testDf.unpersist()

DataFrame[employee_name: string, department: string, state: string, salary: bigint, age: bigint, bonus: bigint]

In [38]:
testDf.groupBy("department","state").agg(sum("salary").alias("Total_Salary"),sum("bonus").alias("Total_bonus")).show()

+----------+-----+------------+-----------+
|department|state|Total_Salary|Total_bonus|
+----------+-----+------------+-----------+
|     Sales|   CA|       81000|      23000|
|   Finance|   CA|      189000|      47000|
|     Sales|   NY|      176000|      30000|
|   Finance|   NY|      162000|      34000|
| Marketing|   NY|       91000|      21000|
| Marketing|   CA|       80000|      18000|
+----------+-----+------------+-----------+

In [45]:
testDf.createOrReplaceTempView("IDA")

In [46]:
spark.sql("SELECT * FROM IDA").show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
+-------------+----------+-----+------+---+-----+

In [47]:
testDf.groupBy("department","state").agg(sum("salary").alias("Total_Salary"),avg("salary").alias("Average_Salary")).where(col("Average_Salary")>90000).show()

+----------+-----+------------+--------------+
|department|state|Total_Salary|Average_Salary|
+----------+-----+------------+--------------+
|   Finance|   CA|      189000|       94500.0|
| Marketing|   NY|       91000|       91000.0|
+----------+-----+------------+--------------+

In [48]:
spark.sql("CREATE DATABASE testDB")

DataFrame[]

In [49]:
spark.sql("USE testDB")

DataFrame[]

In [69]:
df.write.saveAsTable("empTable")

In [52]:
spark.sql("DESCRIBE EXTENDED empTable").show()

+--------------------+--------------------+-------+
|            col_name|           data_type|comment|
+--------------------+--------------------+-------+
|       employee_name|              string|   null|
|          department|              string|   null|
|               state|              string|   null|
|              salary|              bigint|   null|
|                 age|              bigint|   null|
|               bonus|              bigint|   null|
|                    |                    |       |
|# Detailed Table ...|                    |       |
|             Catalog|       spark_catalog|       |
|            Database|              testdb|       |
|               Table|            emptable|       |
|        Created Time|Mon Sep 25 05:25:...|       |
|         Last Access|             UNKNOWN|       |
|          Created By|         Spark 3.4.1|       |
|                Type|             MANAGED|       |
|            Provider|             parquet|       |
|            Location|file:/home/labuse...|       |
+--------------------+--------------------+-------+

In [71]:
df.write.option("path","/home/labuser/Downloads/new/").saveAsTable("empTable_unmanaged")

In [67]:
spark.sql("drop table empTable_unmanaged")

DataFrame[]

In [73]:
spark.sql("DESCRIBE EXTENDED empTable_unmanaged").show()

+--------------------+--------------------+-------+
|            col_name|           data_type|comment|
+--------------------+--------------------+-------+
|       employee_name|              string|   null|
|          department|              string|   null|
|               state|              string|   null|
|              salary|              bigint|   null|
|                 age|              bigint|   null|
|               bonus|              bigint|   null|
|                    |                    |       |
|# Detailed Table ...|                    |       |
|             Catalog|       spark_catalog|       |
|            Database|              testdb|       |
|               Table|  emptable_unmanaged|       |
|        Created Time|Mon Sep 25 05:48:...|       |
|         Last Access|             UNKNOWN|       |
|          Created By|         Spark 3.4.1|       |
|                Type|            EXTERNAL|       |
|            Provider|             parquet|       |
|            Location|file:///home/labu...|       |
+--------------------+--------------------+-------+

In [65]:
spark.sql("DROP TABLE empTable")

DataFrame[]

In [72]:
spark.sql("DESCRIBE EXTENDED empTable").show()

+--------------------+--------------------+-------+
|            col_name|           data_type|comment|
+--------------------+--------------------+-------+
|       employee_name|              string|   null|
|          department|              string|   null|
|               state|              string|   null|
|              salary|              bigint|   null|
|                 age|              bigint|   null|
|               bonus|              bigint|   null|
|                    |                    |       |
|# Detailed Table ...|                    |       |
|             Catalog|       spark_catalog|       |
|            Database|              testdb|       |
|               Table|            emptable|       |
|        Created Time|Mon Sep 25 05:48:...|       |
|         Last Access|             UNKNOWN|       |
|          Created By|         Spark 3.4.1|       |
|                Type|             MANAGED|       |
|            Provider|             parquet|       |
|            Location|file:/home/labuse...|       |
+--------------------+--------------------+-------+

In [75]:
testDf.write.partitionBy("age").csv("/home/labuser/Downloads/empPar/")

In [78]:
testDf.describe()

DataFrame[summary: string, employee_name: string, department: string, state: string, salary: string, age: string, bonus: string]

In [81]:
testDf.coalesce(1).write.partitionBy("state","department").csv("/home/labuser/Downloads/empParCol/")

In [82]:
def printState(df):
    print(df.state)

In [84]:
testDf.foreach(printState)

NYtage 27:>                                                         (0 + 2) / 2]
NY
CA
CA
CA
NY
NY
CA
NY

In [85]:
json_data = [
    '{"name": "Alice", "age": 25}',
    '{"name": "Bob", "age": 30}',
    '{"name": "Charlie", "age": 35}'
]

In [86]:
from pyspark.sql.functions import *
from pyspark.sql.types import *
schema = StructType([
    StructField("name", StringType(), True),
    StructField("age", IntegerType(), True)
])

In [87]:
df = spark.read.schema(schema).json(spark.sparkContext.parallelize(json_data))

In [88]:
df.show()

+-------+---+
|   name|age|
+-------+---+
|  Alice| 25|
|    Bob| 30|
|Charlie| 35|
+-------+---+

In [89]:
json_data = [
    '{"name": "Alice", "age": 25, "address": {"city": "New York", "state": "NY"}}',
    '{"name": "Bob", "age": 30, "address": {"city": "San Francisco", "state": "CA"}}',
    '{"name": "Charlie", "age": 35, "address": {"city": "Los Angeles", "state": "CA"}}'
]

In [90]:
schema = StructType([
    StructField("name", StringType(), True),
    StructField("age", IntegerType(), True),
    StructField("address", StructType([
        StructField("city", StringType(), True),
        StructField("state", StringType(), True)
    ]), True)
])

In [91]:
df = spark.read.schema(schema).json(spark.sparkContext.parallelize(json_data))

In [92]:
df.show()

+-------+---+-------------------+
|   name|age|            address|
+-------+---+-------------------+
|  Alice| 25|     {New York, NY}|
|    Bob| 30|{San Francisco, CA}|
|Charlie| 35|  {Los Angeles, CA}|
+-------+---+-------------------+